body{
	margin: 0;
	padding: 0;
	background: #eff0f4;
}
.top{
	width: 100%;
	height: 46px;
	line-height: 46px;
	background: #5fc0cd;
}
.t_left{
	float: left;
	color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
}
.t_center{
	padding: 0;
 	margin: 0;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.t_right{
	float: right;
	color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding-right: 10px;
}
.c_top{
	margin-top: 10px;
	background: #FFFFFF;
	height: 50px;
	width: 100%;
	line-height: 45px;
	display:table;
	
}
.c_top span{
	display:table-cell;
	vertical-align:middle;
	width: 54px;
}
.c_top img{
	height: 20px;
	margin-left: 20px;
	float: left;
}
.c_top input{
	width: 75%;
	height: 26px;
	padding-left:20px;
	border:none;
	outline: none;
	border-left: 1px solid #eaedee;
}
.c_bottom{
	margin-top: 10px;
	background: #FFFFFF;
	height: 50px;
	width: 100%;
	line-height: 45px;
	display:table;;
}
.c_bottom span{
	display:table-cell;
	vertical-align:middle;
	width: 54px;
}
.c_bottom img{
	height: 20px;
	margin-left: 20px;
	float: left;
}
.c_bottom input{
	width: 75%;
	height: 26px;
	padding-left:20px;
	border:none;
	outline: none;
	border-left: 1px solid #eaedee;
}
.btn{
	width: 100%;
	height: 46px;
	background:#5fc0cd ;
	border: none;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 16px;
	margin-top: 10px;
	cursor: pointer;
	outline: none;
}
.bottom a{
	float: right;
	margin-right: 10px;
	font-size: 10px;
	color: #5FC0CD;
}
